/* Remove default margin and padding from all elements */
* {
    margin: 0;
    padding: 0;
}

/* Apply a cleaner font and increase font size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px; /* Increase font size */
    line-height: 1.5; /* Set line height for better readability */
}

/* Style the h2 element*/
h2{
    font-weight: 100;
}

/* Style the h3 element */
h3 {
    font-weight: 100;
    color: #999; /* Set text color to light grey */
}

/* Center the login container */
.login-container {
    text-align: center;
    margin-top: 100px; /* Add more margin from the top */
}

/* Style the form */
form {
    border: none; /* Remove border from the form */
    margin-top: 30px; /* Add margin at the top of the form */
}

/* Style input fields */
input[type="text"],
input[type="password"] {
    border: none; /* Remove border from input fields */
    border-bottom: 1px solid #000; /* Add bottom border for visual separation */
    outline: none; /* Remove default input focus outline */
    font-family: Arial, sans-serif; /* Use a cleaner font */
    margin: 20px; /* Add margin around input fields */
    padding: 10px; /* Add padding inside input fields */
}

/* Style submit button */
input[type="submit"] {
    background-color: #3498db; /* Set a lighter blue background color */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
    padding: 15px 30px; /* Increase padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 30px; /* Add margin at the top of the button */
    border-radius: 5px; /* Make rounded corners */
}

/* Change button color on hover */
input[type="submit"]:hover {
    background-color: #2980b9; /* Darken background color on hover */
}

/* Style remember password checkbox and forgot password link container */
.additional-options {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 10px; /* Add margin at the bottom for spacing */
}

/* Style remember password checkbox */
input[type="checkbox"] {
    margin-right: 10px; /* Add margin to the right for spacing */
}

/* Style forgot password link */
.forgot-password {
    text-decoration: none;
    margin-left: 10px; /* Add margin to the left for spacing */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Remove underline from forgot password link */
.forgot-password:hover {
    text-decoration: none; /* Remove underline on hover */
}